* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fuentes de googles fonts - Poppins*/
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    height: 100vh;
    background-image: url("../imagenes/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    background-color: rgb(194, 194, 53);
    background-size: cover;
    background-position: center;
    height: auto;
  }
  
  nav a {
    color: #f3c2a5 !important;
    font-size: 20px !important;
  }
  
  nav a:hover {
    color: rgb(220, 20, 60) !important;
    cursor: pointer !important;
  }
  
  .offcanvas {
    background-color: hsla(282, 13%, 15%, 0.95);
  }
  
  nav h5 {
    color: rgb(238, 234, 234) !important;
  }
  
  /* ---- FORMULARIO  ------ */
  form {
    border: 1px solid wheat;
  }
  
  .h2-contactos {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  label {
    color: rgb(19, 20, 20);
  }
  
  .custom-form {
    background-color: crimson;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 8px 8px 20px rgba(241, 241, 237, 0.897);
  }
  
  .custom-form input {
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .custom-form .btn {
    width: 100%;
    background-color: rgb(75, 76, 76);
    font-weight: bold;
  }
  
  .custom-form .btn:hover {
    color: rgb(17, 19, 18);
    background-color: #797873;
    box-shadow: 5px 5px 20px rgba(238, 236, 240, 0.979);
  }
  
  /* ----- FIN FORMULARIO ---- */
  
  footer {
    background-color: rgba(19, 20, 20, 0.726);
    display: flex;
    flex-direction: column;
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
  }
  
  .footer-listas {
    margin: auto;
    justify-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
  }
  
  footer p {
    margin: auto;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 17px;
    color: aliceblue;
  }
  .redes a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .redes a:hover {
    color: #dc143c;
  }