/* Estilos en generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  height: 100vh;
  background-color: #2b807b;
  text-align: center;
}

.centrar-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contendor */
#contenedor {
  height: 220px;
  width: 450px;
  background-color: #fff;
  border: 5px solid #000;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Texto */
#color {
  font-size: 50px;
  font-weight: bold;
}

/* botton  */
button {
  font-size: 25px;
  color: #fff;
  border-radius: 20px;
  background-color: #008cba;
  margin: 15px;
  padding: 10px 30px;
  border: 3px solid #008cba;
  user-select: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #05455a;
}
